aiohttp==3.6.3                                                            
asn1crypto==0.24.0                                                        
attrs==20.3.0                                                             
beautifulsoup4==4.9.3                                                     
bs4==0.0.1                                                                
certifi==2020.6.20                                                        
colorama==0.4.4  
cryptography==2.6.1                                                            
google==3.0.0
html5lib==1.0.1                                                           
lxml==4.3.2                                                               
multidict==4.7.6                                                          
pycrypto==2.6.1                                                           
pyxdg==0.25                                                               
requests==2.25.0                                                          
six==1.12.0                                                               
soupsieve==2.0.1                                                          
urllib3==1.25.11                                                          
webencodings==0.5.1                                                       
yarl==1.5.1
